<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cydeer.user.dal.sharding.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cydeer.user.dal.sharding.dataobject.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="platform_id" jdbcType="VARCHAR" property="platformId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , gmt_created, gmt_modified, user_id, uid, platform_id, name, gender, phone, avatar, 
    status, deleted, source
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where uid = #{uid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.cydeer.user.dal.sharding.dataobject.User">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user (gmt_created, gmt_modified, user_id,
        uid, platform_id, name,
        gender, phone, avatar,
        status, deleted, source
        )
        values (#{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT},
        #{uid,jdbcType=VARCHAR}, #{platformId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{gender,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{deleted,jdbcType=BIT}, #{source,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.cydeer.user.dal.sharding.dataobject.User">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gmtCreated != null">
                gmt_created,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="platformId != null">
                platform_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="source != null">
                source,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gmtCreated != null">
                #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="platformId != null">
                #{platformId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cydeer.user.dal.sharding.dataobject.User">
        update user
        <set>
            <if test="gmtCreated != null">
                gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
            <if test="platformId != null">
                platform_id = #{platformId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cydeer.user.dal.sharding.dataobject.User">
        update user
        set gmt_created  = #{gmtCreated,jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            user_id      = #{userId,jdbcType=BIGINT},
            uid          = #{uid,jdbcType=VARCHAR},
            platform_id  = #{platformId,jdbcType=VARCHAR},
            name         = #{name,jdbcType=VARCHAR},
            gender       = #{gender,jdbcType=INTEGER},
            phone        = #{phone,jdbcType=VARCHAR},
            avatar       = #{avatar,jdbcType=VARCHAR},
            status       = #{status,jdbcType=INTEGER},
            deleted      = #{deleted,jdbcType=BIT},
            source       = #{source,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>